/* ===============================
   GLOBAL PAGE SETTINGS
   =============================== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* ===============================
   SIDEBAR
   =============================== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #2f3e46;
    color: white;
}

/* Sidebar title */
.sidebar h2 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}


/* Main menu items */
.menu {
    display: block;
    padding: 10px 15px;
    font-size: 15x;
    font-weight: bold;
    background-color: #2f3e46;
}

/* Sub menu items */
.submenu {
    display: block;
    padding: 8px 25px;
    font-size: 12px;
    
    background-color: #2f3e46;
    text-decoration: none;
    color: #cfd8dc;
}


/* ===============================
   MAIN CONTENT AREA
   =============================== */
.main {
    margin-left: 220px;
    padding: 20px;
}

/* ===============================
   DASHBOARD CARDS (STACKED)
   =============================== */
.dash-card {
    background-color: #3498db;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    width: 50%;
}

/* Card title */
.dash-card h4 {
    margin: 0;
    font-size: 15px;
}

/* Card number */
.dash-card span {
    display: block;
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
}

/* ===============================
   PANELS (FORMS & TABLE SECTIONS)
   =============================== */
.panel {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Panel heading */
.panel h3 {
    margin: 0;
    padding: 12px;
    background-color: #f8f9fa;
    font-size: 15px;
}

/* Panel content */
.panel-body {
    padding: 12px;
}

/* ===============================
   FORMS
   =============================== */
label {
    display: block;
    margin-top: 10px;
    font-size: 13px;
}

input {
    width: 100%;
    max-width: 600px;   
    padding: 6px;
    margin-top: 4px;
}

button {
    display: block;        
    margin-top: 10px;
    padding: 6px 12px;
}


/* ===============================
   TABLES
   =============================== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    padding: 8px;
    background-color: #f2f2f2;
    font-size: 13px;
    text-align: left;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    word-break: break-word;
}
